Repository taskmedia/roundrobintournament, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test

.github/labeler.yml:

# add 'documentation' label to any changes in docs directory
documentation:
  - "README.md"

# add 'test' label to any changes related to go test
test:
  - "*_test.go"

add test for large number of even/odd teams
  roundrobintournament_test.go
Labels: test

add documentation to slicesEqual func
  roundrobintournament_test.go
Labels: test

add function expectedMatches() to test
  roundrobintournament_test.go
Labels: test

fix calculation of odd teams
  go.mod
  go.sum
  roundrobintournament.go
Labels: none

fix order of test in uneven teams
  roundrobintournament_test.go
Labels: test

change heading size of release draft template
  .github/release-drafter.yml
Labels: none

add posibility to generate matches by number
  roundrobintournament.go
  roundrobintournament_test.go
Labels: test

add readme and first example code
  README.md
  example/example_bynumber.go
Labels: documentation

add codecov.io
  .github/workflows/codecov.yml
Labels: none

update go version from `1.13` to `1.17`
  .github/workflows/codecov.yml
  go.mod
Labels: none

add badges to README
  README.md
Labels: documentation
